// リセットCSSは外部ファイルなのでここでは除外
//　ベーススタイルを定義するファイル
@use "variables" as *;

body

/* 全体のスタイル */
    {
    font-family: $font-family;
    /* フォントの指定 */
    color: $text-color;
    /* テキストカラーの指定 */
    line-height: 1.6;
    /* 行間の指定 */
    background-color: #f9f9f9;
    /* 背景色の指定 */
}

// 汎用ユーティリティ（必要なら）
.hidden {
    display: none !important;
}