// 各種レイアウトを定義するファイル
// 主要コンテナを中央寄せ
@use "variables" as *;
@use "mixins" as *;

.container {
    @include center-block($max-content);
    padding: $base-gap;
}

// Flexbox ライブラリ
.flex {
    &--center {
        display: flex;
        /* フレックスボックスを使用して要素を横並び */
        justify-content: center;
        /* 横中央寄せ */
    }

    &--space-between {
        display: flex;
        /* フレックスボックスを使用して要素を横並び */
        justify-content: space-between;
        /* 要素間のスペースを均等に分配 */
    }
}

// グリッドレイアウト
.grid-3 {
    display: grid;
    gap: $base-gap;

    @include respond(mobile) {
        // スマホ：1カラム
        grid-template-columns: 1fr;
    }

    @include respond(tablet) {
        // タブレット：2カラム
        grid-template-columns: repeat(2, 1fr);
    }

    @include respond(desktop) {
        // PC：3カラム（デフォルトなので省略可）
        grid-template-columns: repeat(3, 1fr);
    }
}